@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap");
:root {
  --bg-white: #fff;
  --bg-black: #232323;
  --white-color: #fff;
  --black-color: #232323;
  --light-grey-color: #a2a2be;
  --grey-color: #5b5b73;
  --red-color: #d22f27;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: var(--black-color);
  font-size: 16px;
  background: var(--bg-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section {
  padding: 30px 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

._shadow {
  -webkit-box-shadow: 0px 1px 11px -2px #0000006e;
          box-shadow: 0px 1px 11px -2px #0000006e;
}

._container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--bg-black);
  margin-bottom: 20px;
}

.header__wrap {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 20px 0;
}

@media (max-width: 480px) {
  .header__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .header__theme {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .header__theme {
    margin-left: 0;
  }
}

.header__search {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

@media (max-width: 900px) {
  .header__search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 480px) {
  .header__search {
    padding: 0 0;
  }
}

/* =========  Header logo =============== */
.logo__icon {
  width: 50px;
  height: 50px;
  fill: var(--red-color);
}

.logo__title {
  font-size: 26px;
  font-weight: 700;
  color: var(--bg-black);
}

/* =========  Header theme btn =============== */
.theme__btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.theme__icon {
  width: 40px;
  height: 40px;
  fill: var(--light-grey-color);
}

.theme__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme__lang--label {
  color: var(--bg-black);
  cursor: pointer;
}

.theme__lang input {
  display: none;
}

.theme__lang-line {
  width: 3px;
  height: 20px;
  background: var(--red-color);
  display: block;
  margin: 0 10px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  border-radius: 10px;
}

.lang-active {
  color: var(--red-color);
}

/* =========  Header search =============== */
.search__form {
  max-width: 500px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 40px 5px 10px;
  font-size: 18px;
  color: var(--grey-color);
  border: 1px solid var(--light-grey-color);
  border-radius: 20px;
}

.search__input:focus {
  outline: none;
}

.search__btn {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.search__icon {
  width: 25px;
  height: 25px;
  fill: var(--grey-color);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 660px) {
  .modal {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.514);
}

.modal__wrap {
  max-width: 700px;
  width: 100%;
  height: auto;
  background: var(--bg-white);
  border-radius: 10px;
  position: relative;
  z-index: 100;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow: auto;
}

@media (max-width: 660px) {
  .modal__wrap {
    border-radius: 0px;
  }
}

.modal__close-btn {
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  cursor: pointer;
}

.modal__close-icon {
  width: 30px;
  height: 30px;
  fill: var(--red-color);
  pointer-events: none;
}

.modal__poster {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  overflow: hidden;
  border-radius: 10px;
}

.modal__poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

.modal__title {
  max-width: 280px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--bg-black);
}

.modal__tagline {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--bg-black);
}

.modal__overview {
  font-weight: 300;
  margin-bottom: 40px;
  color: var(--bg-black);
}

.modal__properties {
  margin-bottom: 50px;
}

.modal__item {
  color: var(--bg-black);
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal__item span {
  color: var(--red-color);
}

.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: auto;
}

.active-modal {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: visible;
  z-index: 9999;
}

.films__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.film {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  position: relative;
  cursor: pointer;
}

.film:hover .film__properties {
  opacity: 0.8;
  visibility: visible;
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.film__rating {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 5px 10px;
  background: var(--red-color);
  border-radius: 0 10px 10px 0;
  color: var(--white-color);
  z-index: 10;
}

.film__poster {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.film__poster img {
  width: 100%;
  border-radius: 8px;
}

.film__properties {
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--black-color);
  z-index: 9;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9) translateY(10px);
          transform: scale(0.9) translateY(10px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.film__title {
  color: var(--bg-black);
  padding: 10px 0;
}

.error {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10em;
  color: var(--red-color);
}

.footer {
  width: 100%;
  background: var(--bg-black);
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bg-white);
}

.github-icon {
  width: 80px;
  height: 80px;
  fill: var(--bg-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.github-icon:hover {
  fill: var(--red-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.course-icon {
  width: 80px;
  height: 80px;
  fill: var(--bg-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.course-icon:hover {
  fill: var(--red-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=style.css.map */