.skills {
  margin-bottom: 60px;
  // .skills__wrap
  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: 0.4s;

    @include _768 {
      padding: 0px 34px 0 30px;
    }
    @media (max-width: 746px) {
      justify-content: center;
    }
  }
  // .skills__item
  &__item {
    width: 320px;
    // height: 250px;
    text-align: center;
    padding-top: 110px;
    background-position: center top;
    background-repeat: no-repeat;
    @include _768 {
      // height: 260px;
      padding-top: 90px;
    }
    @include _600 {
      // height: 260px;
      // padding-top: 70px;
      &:not(:last-child) {
        // margin-bottom: 40px;
      }
    }

    &:nth-child(1) {
      background-image: url("../assets/img/camera.jpg");
      background-size: 62px 50px;
    }
    &:nth-child(2) {
      background-image: url("../assets/img/video.jpg");
      background-size: 62px 50px;
    }
    &:nth-child(3) {
      background-image: url("../assets/img/image.jpg");
      background-size: 62px 50px;
    }
    &:nth-child(4) {
      background-image: url("../assets/img/mic.jpg");
      background-size: 34px 50px;
    }
  }
}

.skill {
  // .skill__title
  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 31px;
    @include _768 {
      margin-bottom: 27px;
    }
    @include _600 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  // .skill__desc
  &__desc {
    font-size: 18px;
    line-height: 1.9;
    @include _768 {
      line-height: 1.3;
    }
    @include _600 {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
