.header {
  position: relative;
  background: #000;
  // .header__bg
  &__bg {
    background: url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    @include _768 {
      background-position: -5px -30px;
      background-size: auto 620px;
    }
    @include _480 {
      background-position: -270px 30px;
    }
  }
  &__container {
    @include _768 {
      padding: 0 64px 0 60px;
    }
    @include _480 {
      padding: 0 20px;
    }
  }
  // .header__wrap
  &__wrap {
    height: 90px;
    display: flex;
    align-items: center;
    @include _768 {
      justify-content: space-between;
    }
  }
  // .header__logo
  &__logo {
  }
  // .header__nav
  &__nav {
    margin-left: auto;

    @include _768 {
      order: 3;
      margin-left: 22px;
    }
  }
  &__nav-btn {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 998;

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;

      &:checked ~ span:nth-last-child(3) {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px) scale(1.2);
        background: $textColor;
        transition: 0.3s ease-in-out;
      }
      &:checked ~ span:nth-last-child(2) {
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:checked ~ span:nth-last-child(1) {
        opacity: 1;
        transform: rotate(-45deg) translate(8px, -9px) scale(1.2);
        background: $textColor;
        transition: 0.3s ease-in-out;
      }
    }
    @include _768 {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      &--line {
        display: block;
        width: 100%;
        height: 2px;
        background: $whiteText;
        position: relative;
        transition: 0.3s ease-in-out;
      }
      // &:hover span {
      //   background-color: $gold;
      // }
      &:active span {
        background-color: $gold;
      }
    }
  }
  // .header__lang
  &__lang {
    position: relative;
    &::after {
      content: "";
      width: 3px;
      height: 80%;
      position: absolute;
      top: 4px;
      left: 50%;
      background: $whiteText;
      transform: rotate(14deg);
      @include _768 {
        top: 2px;
        left: 45%;
      }
      @include _480 {
        left: 50%;
      }
    }
    @include _768 {
      margin-left: auto;
    }
  }
  &__theme {
    margin-left: 30px;
  }
}

.logo-icon {
  width: 50px;
  height: 50px;
  fill: $whiteText;
  transition: 0.3s;
  &:hover {
    fill: $gold;
    transition: 0.3s;
  }
}

.nav {
  // .nav__list
  &__list {
    display: flex;
    padding-right: 34px;
    @include _768 {
      max-width: 620px;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      background: $bgDark;
      position: fixed;
      top: 0;
      right: -620px;
      z-index: 999;
      padding: 150px 0px 0px 126px;
      transition: 0.3s;
    }
    @include _480 {
      padding-left: 90px;
    }
  }
  // .nav__item
  &__item {
    &:not(:last-child) {
      margin-right: 31px;
    }

    @include _768 {
      margin-bottom: 48px;
    }
  }
  // .nav__link
  &__link {
    font-size: 20px;
    color: $whiteText;
    transition: 0.3s;
    &:hover {
      color: $gold;
      transition: 0.3s;
    }

    @include _768 {
      color: $textColor;
      font-size: 35px;
    }
  }
}
.lang {
  // .lang__item
  &__item {
    color: $whiteText;
    &:first-child {
      margin-right: 17px;
      @include _768 {
        margin-right: 30px;
      }
      @include _480 {
        margin-right: 20px;
      }
    }

    span {
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  // .lang__input
  &__input {
    display: none;
  }
}

.theme {
  // .theme__btn
  &__btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
}

.change-theme {
  animation: IconRotate 0.9s;
}
@keyframes IconRotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(0);
  }
}

.theme-icon {
  width: 45px;
  height: 45px;
  fill: $whiteText;
  transition: 0.3s;

  &:hover {
    fill: $gold;
    transition: 0.3s;
  }
}

.active-lang {
  color: $gold;
}
.open {
  right: 0px;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $bgDark;
    z-index: -1;
    opacity: 0.5;
  }
}
