.price {
  // .price__wrap
  &__wrap {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    @include _768 {
      justify-content: center;
      gap: 50px;
      padding-top: 4px;
    }
  }
  // .price__card
  &__card {
    padding: 43px 112px 40px;
    text-align: center;
    border: 3px solid $gold;

    &:last-child {
      padding-right: 109px;
      @include _768 {
        padding-right: 96px;
      }
      @include _480 {
        padding: 42px 30px;
      }
    }
    @include _768 {
      max-width: 420px;
      padding: 42px 96px 40px;
    }
    @include _480 {
      padding: 42px 30px;
    }
  }
}

.card {
  // .card__title
  &__title {
    margin-bottom: 20px;
    font-family: $merri;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.9;
  }
  // .card__price
  &__price {
    margin-bottom: 20px;
    font-family: $merri;
    font-size: 24px;
    font-weight: bold;
    color: $gold;
    line-height: 2.1;
  }
  // .card__desc
  &__desc {
    margin-bottom: 40px;
    span {
      display: block;
      font-size: 18px;
      line-height: 1.99;
    }
  }
  // .card__btn
  &__btn {
  }
  // .card__btn--btn
  &__btn--btn {
    width: 220px;
    height: 55px;
    font-size: 20px;
    background: $gold;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background: #807248;
      color: #fff;
      transition: 0.3s;
    }
  }
}
