.video {
}

.video-player {
  width: 100%;
  height: 705px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/video-player.jpg");
  // .video-player__btn
  &__btn {
    background: none;
    border: none;
  }
  // .video-player__icon
  &__icon {
    width: 130px;
    height: 130px;
    fill: $white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      fill: $gold;
    }
  }
}
