.video {
  &__container {
    @include _768 {
      padding: 0;
    }
  }
}

.video-player {
  width: 100%;
  height: 705px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/video-player.jpg");

  @include _768 {
    height: 424px;
    background-size: auto 408px;
    background-position: 0px 10px;
    background-repeat: no-repeat;
  }
  @include _480 {
    background-position: -100px;
  }
  // .video-player__btn
  &__btn {
    background: none;
    border: none;
  }
  // .video-player__icon
  &__icon {
    width: 130px;
    height: 130px;
    fill: $white;
    cursor: pointer;
    transition: 0.3s;

    @include _768 {
      width: 65px;
      height: 65px;
    }

    &:hover {
      fill: $gold;
    }
  }
}
