.header {
  // .header__wrap
  &__wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    @media (max-width: 480px) {
      justify-content: center;
    }
  }
  // .header__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  // .header__theme
  &__theme {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 900px) {
      margin-left: auto;
    }
    @media (max-width: 480px) {
      margin-left: 0;
    }
  }
  // .header__search
  &__search {
    max-width: 500px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    @media (max-width: 900px) {
      order: 3;
    }
    @media (max-width: 480px) {
      padding: 0 0;
    }
  }
}
/* =========  Header logo =============== */
.logo {
  // .logo__img
  &__img {
  }
  &__icon {
    width: 50px;
    height: 50px;
    fill: $red;
  }
  // .logo__title
  &__title {
    font-size: 26px;
    font-weight: 700;
    color: $bgBlack;
  }
}
/* =========  Header theme btn =============== */
.theme {
  // .theme__btn
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  &__icon {
    width: 40px;
    height: 40px;
    fill: $light-grey;
  }
  &__lang {
    display: flex;
    &--label {
      color: $bgBlack;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  &__lang-line {
    width: 3px;
    height: 20px;
    background: $red;
    display: block;
    margin: 0 10px;
    transform: rotate(14deg);
    border-radius: 10px;
  }
}

.lang-active {
  color: $red;
}
/* =========  Header search =============== */
.search {
  // .search__form
  &__form {
    max-width: 500px;
    width: 100%;
    position: relative;
    display: flex;
  }
  // .search__input
  &__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 40px 5px 10px;
    font-size: 18px;
    color: $grey;
    border: 1px solid $light-grey;
    border-radius: 20px;

    &:focus {
      outline: none;
      // border-color: $red;
      // box-shadow: 0px 0px 4px 1px $red;
    }
  }
  // .search__btn
  &__btn {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: $grey;
  }
}
