.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;

  @media (max-width: 660px) {
    align-items: stretch;
    justify-content: stretch;
  }
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.514);
  }
  // .modal__wrap
  &__wrap {
    max-width: 700px;
    width: 100%;
    height: auto;
    background: $bgWhite;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    transform: translateY(200px);
    transition: 0.4s;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    @media (max-width: 660px) {
      border-radius: 0px;
    }
  }

  &__close-btn {
    border: none;
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
  }
  &__close-icon {
    width: 30px;
    height: 30px;
    fill: $red;
    pointer-events: none;
  }
  // .modal__poster
  &__poster {
    flex: 1 1 280px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .modal__info
  &__info {
    flex: 1 1 320px;
  }
  // .modal__title
  &__title {
    max-width: 280px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $bgBlack;
  }
  // .modal__tagline
  &__tagline {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $bgBlack;
  }
  // .modal__overview
  &__overview {
    font-weight: 300;
    margin-bottom: 40px;
    color: $bgBlack;
  }
  // .modal__properties
  &__properties {
    margin-bottom: 50px;
  }

  &__list {
  }
  &__item {
    color: $bgBlack;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    span {
      color: $red;
    }
  }
}

.active {
  opacity: 1;
  pointer-events: visible;
  transition: 0.4s;
  overflow: auto;
}

.active-modal {
  transform: translateY(0px);
  transition: 0.4s;
  visibility: visible;
  z-index: 9999;
}
